DB_HOST_SNBX=sandbox.co12cg40imfe.us-east-1.rds.amazonaws.com
DB_USER_SNBX=admin
DB_PASS_SNBX=S8Uehpm7KuHcPq5

DB_NAME=asterisk_realtime

DB_HOST_PROD=callevo-cluster-green.cluster-co12cg40imfe.us-east-1.rds.amazonaws.com
DB_USER_PROD=sysadmin
DB_PASS_PROD=hipHRzpsFJQ8fyDn

MODE=PROD

